block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='username') User Name:
      input#user_name.form-control(type='text' placeholder='User name' name='username' required='true')
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='password' placeholder='Password' name='password' required='true')
    div.form-group

    button.btn.btn-primary(type='submit') Log In
  if errors
    ul
      for error in errors
        li!= error.msg